<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <!-- <div class="logo"></div>-->


        <header class="main-header">
            <img src="logo.png" >
            <nav class="main-navigation">

                <ul>

                    <li>
                        ABOUT US
                    </li>
                    <li>
                        WRITTE COMMENT
                    </li>
                    <li>
                        COMMENTS
                    </li>
                </ul>

            </nav>
        </header>

        <div class="text-new">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
        </div>

        <img src="Layer 131.png">


        <div class="conteiner-information">

            <div class="heading">
                <img src="Vector Smart Object11.png">
                <h1>Who we are</h1>

                
                    <li> It is a long established fact that a reader will be distracted</li>
                    <li>The readable content of a page when looking at its layout</li>
                    <li>The point of using Lorem Ipsum</li>
                    <li>As opposed to using 'Content here, content here'.</li>
                
            </div>
            <div class="heading-center">
                <img src="Vector Smart Object.png">
                <h1>Who we do</h1>
                
                    <li>Many desktop publishing packages and web page</li>

                    <li>There are many variations of passages of Lorem Ipsum available, but the majority have</li>

                    <li>Various versions have evolved over the years, sometimes by accident</li>
                

            </div>
            <div class="heading-centere">
                <img src="Vector Smart Object6.png">
                <h1>Tecnology</h1>
                
                    <li> The point of using Lorem Ipsum</li>
                    <li>As opposed to using 'Content here, content here'</li>
                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text</li>
                    <li>A Latin professor at Hampden-Sydney College in Virginia</li>

                

            </div>

        </div>






    </div>

    <div class="write-comment">
        <div class="container">


            <div class="footer-container">
                    
                <div class="txt"> 
                    Write coment
                    
                </div>
                <div class="photo"></div>
                <div class="qwer">
                    <div class="form">
                            <textarea v-model="title" placeholder="Title"></textarea>


                    </div>
                    <div class="form-comment">
                        

                        <textarea v-model="message" placeholder="Your coment"></textarea>
                        


                    </div>
                    <div class="send">
                        <input type="submit" name="submit" value="Send">
                    </div>
                </div>
                
            </div>

            <div class="line"></div>
            <div class="footer-q">
            <div class="footer">
                    mail@mailtest.com
                    <br>
                    
                    +30-6977664062
                </div>
                <div class="footer-right">
                        Copyright © 2019 Test All Rights Reserved.
                </div>
            </div>
        </div>

            

    </div>



</body>





</html>